header {
    display: flex;
    flex-direction: column;
    height: 10vh;
    
}

header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


header::after {
    content: '';
    background-color: var(--brand-2);
    height: 3px;
    width: 100%;
}

.dark-mode{
    width: 44px;
    height: 36px;
    padding: 9px, 14px, 9px, 14px;
    border:none; 
    border-radius: 5px;
}